<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="compose" method="post">
   <div class="form-group">
      <label for="input"> Title </label>
      <input class="form-control" type="text" name="title" id="input" />

      <label for="post"> Post </label>
      <textarea
         class="form-control"
         type="text"
         name="body"
         cols="40"
         rows="5"
         id="post"
      ></textarea>
      <button type="submit" class="btn btn-primary"> publish </button>
   </div>
</form>

<%- include('partials/footer') -%>
